<!DOCTYPE html>
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">VIAF Dashboard</h3>
        </div>
        <div class="panel-body">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <tabset>
                    <!-- plain qid -->
                    <tab>
                        <tab-heading>
                            <i class="fa fa-search"></i> Send VID
                        </tab-heading>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Type a VIAF ID code subject in this text box and click Send.</p>

                                <div class="input-group" style="margin-top: 1em;">
                                    <span class="input-group-addon">VID</span>
                                    <input type="text" class="form-control" ng-model="vm.viafQuery" placeholder="Type VIAF ID">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" ng-click="vm.sendViafRequest(vm.viafQuery, vm.selectedFormat)"
                                                ng-disabled="vm.viafQuery.length===0">Send
                                        </button>
                                        <!-- Single button using append-to-body -->
                                        <div class="btn-group" dropdown dropdown-append-to-body>
                                            <button id="btn-append-to-body" type="button" class="btn btn-info" dropdown-toggle>
                                                {{vm.selectedFormat.name}} <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
                                                <li role="menuitem" ng-repeat="format in vm.formatList" ng-click="vm.selectedFormat = format"><a href="#">{{format.name}}</a></li>
                                            </ul>
                                        </div>
                                        <button class="btn btn-warning" ng-click="vm.viafQuery = ''">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </span>
                                </div>
                                <a ng-click="vm.qidQueryCollapse=!vm.qidQueryCollapse" style="cursor: pointer;">More info...</a>

                                <div collapse="vm.qidQueryCollapse">
                                    <div class="well well-sm">
                                        <p><strong>Example:</strong> 102333412, should bring an article about: <i>Austen, Jane, 1775-1817</i></p>

                                        <p>More examples and info: <a ng-href="https://platform.worldcat.org/api-explorer/VIAF">https://platform.worldcat.org/api-explorer/VIAF</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <!-- save -->
                    <tab>
                        <tab-heading>
                            <i class="fa fa-save"></i> Save
                        </tab-heading>

                        <p>save on db</p>
                    </tab>
                </tabset>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <tabset>
                    <tab>
                        <tab-heading>
                            <i class=""></i> Raw Response
                        </tab-heading>

                        <div class="center-block">
                            <form class="form-inline">
                                <div class="form-group">
                                    <button class="btn btn-default" ng-click="vm.queryResult=''">Clean</button>
                                </div>
                            </form>
                        </div>

                        <div class="center-block" ng-show="vm.sendingQuery">
                            <span class="fa fa-spin fa-refresh fa-2x"></span>
                        </div>
                        <div ng-hide="vm.sendingQuery">
                            <pre>{{vm.queryResult | json}}</pre>
                        </div>

                    </tab>
                    <tab>
                        <tab-heading>
                            <i class=""></i> Pretty JSON
                        </tab-heading>

                        <div class="center-block" ng-show="vm.sendingQuery">
                            <span class="fa fa-spin fa-refresh fa-2x"></span>
                        </div>
                        <div ng-hide="vm.sendingQuery">
                            <div ng-if="vm.queryResult">
                                <json-tree object="vm.queryResult"></json-tree>
                            </div>
                            <div ng-if="!vm.queryResult">
                                <h4>Nothing to show</h4>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            <i class="fa fa-camera"></i> Preview
                        </tab-heading>
                        <div class="center-block" ng-show="vm.sendingQuery">
                            <span class="fa fa-spin fa-refresh fa-2x"></span>
                        </div>
                        <div ng-hide="vm.sendingQuery">
                            <div ng-include="'viaf_dashboard/templates/article-details.html'"></div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>