<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="vm.collapsed=!vm.collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">wikiFinder</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" collapse="vm.collapsed">
                <ul class="nav navbar-nav">
                    <li dropdown class="dropdown">
                        <a href dropdown-toggle class="dropdown-toggle">Query <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active"><a ui-sref="main.entry.dashboard">Wikidata</a></li>
                            <li ui-sref-active="active"><a ui-sref="main.entry.viaf-dashboard">VIAF</a></li>
                        </ul>
                    </li>
                    <li ui-sref-active="active"><a ui-sref="main.entry.linker">Linker</a></li>
                    <li ui-sref-active="active"><a ui-sref="main.entry.database">Database</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li dropdown class="dropdown">
                        <a href dropdown-toggle class="dropdown-toggle">
                            Language: <img ng-src="{{vm.selectedLanguage.icon}}" alt="{{vm.selectedLanguage.value}}"/>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active">
                                <a href ng-repeat="language in vm.languageList" ng-click="vm.selectLanguage(language)">
                                    <img ng-src="{{language.icon}}" alt="{{language.value}}"/>
                                    {{language.caption}}</a>
                            </li>
                        </ul>
                    </li>
                    <li dropdown class="dropdown">
                        <a href dropdown-toggle class="dropdown-toggle">Options <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active"><a ui-sref="main.entry.settings">Settings</a></li>
                            <li ui-sref-active="active"><a href>Help</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div ui-view></div>
</div>