<!DOCTYPE html>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Wikidata Dashboard</h3>
        </div>
        <div class="panel-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <tabset>
                    <!-- plain qid -->
                    <tab>
                        <tab-heading>
                            <i class="fa fa-search"></i> Send QID
                        </tab-heading>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Type a Wikidata Q code subject in this text box and click Send.</p>

                                <div class="input-group" style="margin-top: 1em;">
                                    <span class="input-group-addon">{{vm.queryPath + "Q"}}</span>
                                    <input type="text" class="form-control" ng-model="vm.qQuery" placeholder="Type Q values">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" ng-click="vm.sendQIDRequest(vm.qQuery)"
                                                ng-disabled="vm.qQuery.length===0">Send
                                        </button>
                                        <button class="btn btn-warning" ng-click="vm.qQuery = ''">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </span>
                                </div>
                                <a ng-click="vm.qidQueryCollapse=!vm.qidQueryCollapse" style="cursor: pointer;">More info...</a>

                                <div collapse="vm.qidQueryCollapse">
                                    <div class="well well-sm">
                                        <p><strong>Example:</strong> Q42</p>

                                        <p>More examples and info: <a ng-href="https://wdq.wmflabs.org/api_documentation.html">https://wdq.wmflabs.org/api_documentation.html</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <!-- wikidata query -->
                    <tab>
                        <tab-heading>
                            <i class="fa fa-search"></i> Send Wikidata Query
                        </tab-heading>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Type a Wikidata API query in this text box and click Send.</p>

                                <div class="input-group" style="margin-top: 1em;">
                                    <div class="input-group-btn" dropdown dropdown-append-to-body>
                                        <button id="btn-append-to-body" type="button" class="btn btn-info dropdown-toggle" dropdown-toggle>
                                            {{vm.selectedType ? vm.selectedType.name : "Select Query Type"}} <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
                                            <li role="menuitem" ng-repeat="item in vm.queryTypes" ng-click="vm.selectedType = item"><a ng-href="#">{{item.name}}</a></li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control" ng-model="vm.wikidataQuery" placeholder="Type query here..">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" ng-click="vm.sendWikidataRequest(vm.selectedType.name, vm.wikidataQuery)"
                                                ng-disabled="vm.wikidataQuery.length===0">Send
                                        </button>
                                        <button class="btn btn-warning" ng-click="vm.wikidataQuery = ''">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </span>
                                </div>
                                <a ng-click="vm.wikidataQueryCollapse=!vm.wikidataQueryCollapse" style="cursor: pointer;">More info...</a>

                                <div collapse="vm.wikidataQueryCollapse">
                                    <div class="well well-sm">
                                        <p><strong>Example:</strong> tree[4504][171,273,75,76,77,70,71,74,89]</p>

                                        <p>More examples and info: <a ng-href="https://wdq.wmflabs.org/api_documentation.html">https://wdq.wmflabs.org/api_documentation.html</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <!-- save -->
                    <tab>
                        <tab-heading>
                            <i class="fa fa-save"></i> Save
                        </tab-heading>

                        <p>save on db</p>
                    </tab>
                </tabset>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <tabset>
                    <tab>
                        <tab-heading>
                            <i class=""></i> Raw Response
                        </tab-heading>
                        <button class="btn btn-default" ng-click="vm.queryResult=''">Clean</button>
                        <pre>{{vm.queryResult | json}}</pre>
                    </tab>
                    <tab>
                        <tab-heading>
                            <i class=""></i> Catagoried Data
                        </tab-heading>

                        <div ng-if="vm.queryResult.entities">
                            <accordion>
                                <accordion-group ng-repeat="(key, value) in vm.queryResult.entities">
                                    <accordion-heading>
                                        {{key}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                    </accordion-heading>
                                    <!--<pre ng-repeat="(key, value) in value">{{key}}: {{value | json}}</pre>-->

                                    <accordion>
                                        <accordion-group ng-repeat="(_key, _value) in value">
                                            <accordion-heading>
                                                {{_key}} <i class="pull-right glyphicon"
                                                            ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </accordion-heading>

                                            <pre>{{_value | json}}</pre>
                                        </accordion-group>
                                    </accordion>

                                </accordion-group>
                            </accordion>
                        </div>
                        <div ng-if="!vm.queryResult.entities">
                            <h4>Nothing to show</h4>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            <i class="fa fa-camera"></i> Preview
                        </tab-heading>
                        <p>Show some response preview</p>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>