<!DOCTYPE html>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Wikidata Dashboard</h3>
        </div>
        <div class="panel-body">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <uib-tabset>
                    <!-- plain qid -->
                    <uib-tab>
                        <tab-heading>
                            <i class="fa fa-search"></i> Send QID
                        </tab-heading>
                        <div ng-include="'dashboard/templates/send-qid-query-tmpl.html'"></div>
                    </uib-tab>

                    <!-- wikidata query -->
                    <uib-tab>
                        <tab-heading>
                            <i class="fa fa-search"></i> Send Raw Query
                        </tab-heading>
                        <div ng-include="'dashboard/templates/send-raw-query-tmpl.html'"></div>
                    </uib-tab>
                    <!-- save -->
                    <uib-tab>
                        <tab-heading>
                            <i class="fa fa-save"></i> Save
                        </tab-heading>

                        <div style="margin: 1em;">
                            <button class="btn btn-info"
                                    ng-disabled="vm.queryResult.length===0"
                                    ng-click="vm.saveWikidataResultOnDB()">Save Wikidata Result
                            </button>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <uib-tabset>
                    <uib-tab>
                        <tab-heading>
                            <i class=""></i> Raw Response
                        </tab-heading>

                        <div class="center-block">
                            <form class="form-inline">
                                <div class="form-group">
                                    <button class="btn btn-default" ng-click="vm.queryResult=''">Clean</button>
                                    <button class="btn btn-default" ng-disabled="!vm.queryResult"
                                            ng-click="vm.saveEntities(vm.queryResult)">Save
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="center-block" ng-show="vm.sendingQuery">
                            <span class="fa fa-spin fa-refresh fa-2x"></span>
                        </div>
                        <div ng-hide="vm.sendingQuery">
                            <pre>{{vm.queryResult | json}}</pre>
                        </div>

                    </uib-tab>
                    <uib-tab>
                        <tab-heading>
                            <i class=""></i> Pretty JSON
                        </tab-heading>

                        <div class="center-block" ng-show="vm.sendingQuery">
                            <span class="fa fa-spin fa-refresh fa-2x"></span>
                        </div>
                        <div ng-hide="vm.sendingQuery">
                            <div ng-if="vm.queryResult">
                                <json-tree object="vm.queryResult"></json-tree>
                            </div>
                            <div ng-if="!vm.queryResult">
                                <h4>Nothing to show</h4>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <tab-heading>
                            <i class="fa fa-camera"></i> Preview
                        </tab-heading>
                        <div class="center-block" ng-show="vm.sendingQuery">
                            <span class="fa fa-spin fa-refresh fa-2x"></span>
                        </div>
                        <div ng-hide="vm.sendingQuery">
                            <div ng-include="'dashboard/templates/item-details.html'"></div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>